<!DOCTYPE html>
<html>
<head>
    <title>Job List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div id="app" class="container">
        <h1 class="center">Job Posts</h1><hr>
        <button class="float-left btn btn-sm btn-default"><a href="/jobs/add/">+ Add Job Post</a></button>
        <input class="form-control col-4 float-right" type="text" placeholder="Find jobs by Title" v-model="search" @keyup="searchJob"><br><br>
        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead class="thead-dark">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Company</th>
                    <th>Location Type</th>
                    <th>Location</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Tags</th>
                </thead>
                <tbody>
                    <tr v-for="job in jobs">

                        <td><a :href="'/edit/job/' + job.id">${ job.title }</a></td>
                        <td>${ job.description}</td>
                        <td>${ job.company }</td>
                        <td>${ job.location_type}</td>
                        <td>${ job.location }</td>
                        <td>${ job.created_at }</td>
                        <td>${ job.updated_at }</td>
                        <td><template v-for="tag in job.tags">
                            ${ tag.name },
                        </template></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="float-right">
            <button class="btn btn-sm btn-primary" v-show="prev" @click="changePage(prev)">Previous</button>
            <button class="btn btn-sm btn-success" v-show="next" @click="changePage(next)">Next</button>
        </div>
    </div>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>

    <script type="text/javascript">

        var app = new Vue({

            el: "#app",

            delimiters: ['${','}'],


            data: {
                jobs: [],
                prev: null,
                next: null,
                search: null,
                editJob: null

            },

            mounted: function() {
                this.getJobs();
            },

            methods: {
                getJobs: function(url="/api/v1/jobs/") {

                    this.$http.get(url)
                        .then((response) => {
                            this.jobs = response.body.results;
                            this.prev = response.body.previous;
                            this.next = response.body.next;
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },

                getJob: function(id) {
                    this.$http.get('/api/v1/jobs/${id}')
                    .then((response) => {
                        this.currentArticle = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
                },

                getJobDetails: function(id) {

                },

                changePage: function(url) {
                    this.getJobs(url);
                },
                searchJob: function() {
                    url = "/api/v1/jobs?title=" + this.search;
                    this.getJobs(url);
                }
            }

        });

    </script>
</body>
</html>